<div class="card mt-4">
  <div class="card-header"><%= title %></div>
  <div class="card-body">
    <% form_args_ = {class: 'form-control'}
       form_args = form_args_.deep_dup
       form_args[:readonly] = disabled %>
    <% columns = [:product_name, :repository_url, :description, :status]
       columns << :updated_at if show_updated_at %>
    <%= form_with model: request do |form| %>
      <% columns.each do |column| %>
        <div class="form-group">
          <%= form.label column, Request.human_attribute_name(column) %>
          <% case column %>
          <% when :product_name %>
            <%= form.text_field column, {required: true}.merge(form_args) %>
          <% when :repository_url %>
            <%= form.url_field column, {required: true}.merge(form_args) %>
          <% when :description %>
            <%= form.text_area column, form_args %>
          <% when :status %>
            <%= form.select column, Request.statuses_i18n.invert, {}, {disabled: disabled}.merge(form_args_) %>
          <% when :updated_at %>
            <%= form.text_field column, {value: l(request.updated_at)}.merge(form_args) %>
          <% else %>
            <%= form.text_field column, form_args %>
          <% end %>
        </div>
      <% end %>
      <% if content_for? :button %>
        <%= yield :button %>
      <% else %>
        <%= form.submit submit_text, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
