<div class="jumbotron mt-4">
  <p class="lead"><%= t('.lead_html') %></p>
</div>
<div class="card mt-4">
  <div class="card-header"><%= t('.title') %></div>
  <div class="card-body">
    <%= link_to t('requests.new.add'), new_request_path, class: 'btn btn-primary' %>
  </div>
  <% if 0 < @requests.count %>
    <table class="table">
      <thead>
      <tr>
        <th><%= Request.human_attribute_name(:status) %></th>
        <th><%= Request.human_attribute_name(:product_name) %></th>
        <th><%= Request.human_attribute_name(:repository_url) %></th>
        <th><%= Request.human_attribute_name(:updated_at) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @requests.each do |request| %>
        <tr class="<%= if request.status == 'complated'
                         'text-muted'
                       else
                         ''
                       end %>">
          <td><%= request.status_i18n %></td>
          <td><%= request.product_name %></td>
          <td><%= link_to *2.times.map { |_| request.repository_url } %></td>
          <td><%= l(request.updated_at) %></td>
          <td>
            <%= link_to t('.details'), request_path(request.id), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
