<div class="card">
  <div class="card-header"><%= I18n.t('request.list') %></div>
  <div class="card-body">
    <%= link_to I18n.t('action.add'), new_request_path, class: 'btn btn-primary' %>
  </div>
  <% if 0 < @requests.count %>
    <table class="table">
      <thead>
      <tr>
        <th><%= Request.human_attribute_name(:status) %></th>
        <th><%= Request.human_attribute_name(:product_name) %></th>
        <th><%= Request.human_attribute_name(:repository_url) %></th>
        <th><%= Request.human_attribute_name(:description) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= I18n.t("status.#{request.status}") %></td>
          <td><%= request.product_name %></td>
          <td><%= request.repository_url %></td>
          <td><%= request.description %></td>
          <td>
            <%= link_to I18n.t('action.details'), request_path(request.id), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

