<div class="jumbotron mt-4">
  <p class="lead"><%= t('.lead') %></p>
</div>
<div class="card mt-4">
  <div class="card-header"><%= t('.title') %></div>
  <div class="card-body">
    <%= link_to t('requests.new.add'), new_request_path, class: 'btn btn-primary' %>
  </div>
  <% if 0 < @requests.count %>
    <table class="table table-striped">
      <thead>
      <tr>
        <% columns = [:status, :product_name, :repository_url, :updated_at].map { |c| Request.human_attribute_name(c) } + [nil] %>
        <% columns.each do |column| %>
          <th><%= column %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @requests.each do |request| %>
        <% cell_class = if request.status == 'complated'
                          'text-muted'
                        else
                          ''
                        end %>
        <tr class="<%= cell_class %>">
          <td><%= request.status_i18n %></td>
          <td><%= request.product_name %></td>
          <td><%= link_to *2.times.map { |_| request.repository_url }, class: cell_class %></td>
          <td><%= l(request.updated_at) %></td>
          <td><%= link_to t('.details'), request_path(request.id), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
