<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t('.title') %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <div class="navbar-brand"><%= link_to_unless_current t('.title'), requests_path %></div>
    <div class="collapse navbar-collapse justify-content-end">
      <% I18n.available_locales.each do |lang| %>
        <%= link_to_if I18n.locale != lang,
                       t('.lang', locale: lang),
                       url_for(controller: controller.controller_name, action: controller.action_name, locale: lang.to_s),
                       class: 'btn btn-link' %>
      <% end %>
    </div>
  </nav>
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= case type
                                when 'success', 'info', 'warning', 'danger'
                                  type
                                when 'alert'
                                  'danger'
                                else
                                  'info'
                                end %> mt-4">
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
