<!DOCTYPE html>
<html lang="ja">
<head>
  <title>WritePlease</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Write Please!</h1>
    <p class="lead">
      「OSSにコミットしてみたいけど、どこから始めればよいかわからない......」<br/>
      そんな人はまずOSSのREADMEを記述するところから始めてみましょう！
    </p>
  </div>
  <% flash.each do |type, message| %>
    <% type = case type
              when 'success', 'info', 'warning', 'danger'
                type
              when 'alert'
                'danger'
              else
                'info'
              end %>
    <div class="alert alert-<%= type %>">
      <%= message %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
